<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books and authors</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'style.css' %}">    
</head>
<body>
    <div class="container">
        <div class="sec1">
            <h2>Add a Author</h2>
            <form action="/process3" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="f-name" id="ti">First name</label>
                    <input type="text" name="f-name" >
                    <label for="f-name" id="ti">Last name</label>
                    <input type="text" name="l-name" >
                </div>
                <div class="form-group">
                    <label for="desc">Notes</label>
                    <textarea name="desc" id="context" rows="5" cols="30"></textarea>
                </div>
                <input type="submit" value="Add">
            </form>
        </div>
        <div class="sec2">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
                {%for author in authors%}
                    <tr>
                        <td>{{author.id}}</td>
                        <td>{{author.first_name}} {{author.last_name}}</td>
                        <td><a href="/authors/{{author.id}}">view</a></td>
                    </tr>
                {%endfor%}
            </table>




        </div>
    </div>
</body>
</html>