<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book details</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'style2.css' %}">    
</head>
<body>
    <h1>{{first_name}} {{last_name}}</h1>
    <p>ID: {{author_id}}<p>
    <p>Notes:  {{notes}}</p>
    <p>Books:</p>
    {%for book in author_books%}
        <ul>{{book.title}}</ul>
    {%endfor%}
    <form action="/process4/{{author_id}}" method="post">
        {% csrf_token %}
        <select name="books" id="bookie">
            {%for book in not_books%}
                <option value="{{book.id}}">{{book.title}}</option>
            {%endfor%}
            <input type="submit" value="Add" class="button">
        </select>
    </form>
</body>
</html>