<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a show</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'style2.css' %}"> 
</head>
<body>
    <a href="/shows/">Go back</a>
    <h1>Add a New Show</h1>
    <form action="/process" method='post'>
        {%csrf_token%}
        <label for "title">Title</label>
        <input type="text" name="title" id="title">
        <div class="part2">
            <label for "network">Network</label>
            <label for "release_date">Release Date</label>
        </div>
        <div class="part2">
            <input type="text" name="network" id="network">
            <input type="date" name="release_date" id="release">
        </div>
        <div>
        <label for "desc">Description</label>
        <textarea name="desc" id="desc"></textarea>
        </div>
        <button type="submit" value="Create">Create</button>
    </form>       
    {% if messages %}
        <ul class="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
        </ul>
    {% endif %}
</body>
</html>