<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo and ninjas</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'style.css' %}">    
</head>
<body>
    <div class="sec1">
        <form action="/process" method="post">
            {%csrf_token%}
            <h1>Add a Dojo</h1>
            <label for="fname">Name</label>
            <input type="text" id="fname" name="fname" ><br>
            <label for="lname">City</label>
            <input type="text" id="lname" name="city" ><br>
            <label for="country">State</label>
            <input type="text" id="country" name="state"><br>
            <input type="submit" value="Submit">
        </form>
        <form action="/process2" method="post">
            {%csrf_token%}
            <h1>Add a Ninja</h1>
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname"><br>
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname"><br>
            <label for="dojo" id="dojos">Dojo</label>
            <select id="dojo" name="dojo" placeholder="Select a Dojo...">
                {%for dojo in dojos%}
                    <option value="{{dojo.name}}">{{dojo.name}}</option>
                {%endfor%}
            </select><br>
            <input type="submit" value="Submit" id="submit">
        </form>
    </div>
    <br>
    <br>
    <hr>
    <div class="sec2">
        {% for dojo in dojos%}
            <h1>Ninjas with Dojo {{dojo.name}}<span id="count">Count of ninjas: {{dojo.ninjas.all|length}}</span></h1>
            {% for ninja in dojo.ninjas.all %}
                <p>{{ninja.first_name}} {{ninja.last_name}}</p>
            {%endfor%}
            <a href="/delete/{{dojo.id}}"><button class="delete">Delete</button></a>
        {%endfor%}
    </div>
</body>
</html>