<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Display</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">   
    <script src="{%static 'main.js'%}"> </script>

</head>
<body>
    <div class='time'>
        <h3>The current time and date:</h3>
        <p>GMT time:<span id='GMT time'> {{time}}</span><br>
        Local time:<span id='local time'> {{localtime}}</span></p>
    </div>
</body>
</html>
