<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users with templates</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'style.css'%}">  
</head>
<body>
    <h1>All the Users</h1>
    <div class="table">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email Address</th>
                <th>Age</th>
            </tr>
            {%for user in users%}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <td>{{user.email_address}}</td>
                    <td>{{user.age}}</td>
                </tr>
            {%endfor%} 
        </table>
        </div>
    <form action="/create" method="POST">
        {%csrf_token%}
        <label for="first_name">First Name</label>
        <input type="text" name="first_name">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name"><br>
        <label for="Email">Email</label>
        <input type="text" name="Email" id="email">
        <label for="age">Age</label>  
        <input type="number" name="age" id="age"><br>
        <button>Create user</button>
    </form>
</body>
</html>